//- BASE VARIABLES
-var title = 'Заголовок страницы'
-var bodyClasses = []
-var activeMenu = []

//- Includes blocks
-var favicon = false
-var header = true
-var main = true
-var footer = true
-var modals = true

//- Cache-busting plugin for gulp
-var revAppend = '?rev=@@hash' //''


//- Connection variables to main
block variables