//- 
  +links(
  "//i.icomoon.io/public/temp/754aa778e0/proj/style.css"
  )
<!-- build:css css/vendors.min.css -->
// bower:css
link(rel='stylesheet', href='/bower/normalize-css/normalize.css')
// endbower
<!-- endbuild -->
+links("css/theme.min.css"+revAppend)
+scripts("js/modernizr.js")
