if sidebarLeft
  aside.aside.aside--left
    if panel
      .b-panel
        h3.b-panel__title
          | left panel
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores quae eius, vitae inventore necessitatibus. Cumque nobis ea mollitia blanditiis qui quam natus, eligendi laboriosam optio quis. Sit saepe, nobis eius.
if sidebarRight
  aside.aside.aside--right
    if panel
      .b-panel
        h3.b-panel__title
          | right panel
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores quae eius, vitae inventore necessitatibus. Cumque nobis ea mollitia blanditiis qui quam natus, eligendi laboriosam optio quis. Sit saepe, nobis eius.